body {
    font-family: Arial, sans-serif;
    background-color: #f2f7f5;
    text-align: center;
}

h1 {
    color: #080808;
}

form {
    background-color: rgba(37, 34, 34, 0.582);
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #dfd5d5;
    border-radius: 5px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0e0d0d;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #242323;
}

